*.iml
.gradle/
local.properties
.idea/
/build/
**/build/
captures/
.externalNativeBuild/
.cxx/
_artifacts/
app/src/main/assets/hy_mt/*
app/src/main/assets/tts/*
app/src/main/assets/asr/*
app/libs/*.aar
